html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #ed3c58;
}

@media only screen and (min-width: 992px) {
  #cd-timeline::before {
    left: 50%;
    margin-left: 3px;
  }
}

.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 992px) {
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 8px;
  left: 12px;
}

@media only screen and (min-width: 992px) {
  .cd-timeline-img {
    left: 50%;
    margin-left: -15px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}
.timeline-content-info {
  background: #2b343a;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

.cd-timeline-content .timeline-content-info i {
  margin-right: 5px;
}

.cd-timeline-content:after {
  content: '';
  display: table;
  clear: both;
}

.cd-timeline-content .cd-date {
  display: inline-block;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #333c42;
}

.cd-timeline-block:nth-child(odd) .cd-timeline-content {
  margin-right: 60px;
}

@media only screen and (min-width: 992px) {
  .cd-timeline-content::before {
    left: 100%;
    border-color: transparent;
    border-left-color: #333c42;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    left: auto;
    margin-left: 16px;
    border-color: transparent;
    border-right-color: #333c42;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content {
    margin-right: 60px;
    margin-left: 0;
  }
}
